<% addTitle("Ruby") %>
<% addHeader({
    1 => '<link rel="stylesheet" href="css/style.css">',
    2 => '<link rel="stylesheet" href="css/chrome-tabs/chrome-tabs.css">',
    3 => '<script src="js/chrome-tabs/draggabilly.pkgd.min.js" defer></script>',
    4 => '<script src="js/chrome-tabs/chrome-tabs.js" defer></script>',
    5 => '<script src="js/tabs.js" defer></script>',
    6 => '<link rel="stylesheet" href="font-awesome/icons/css/all.css">',
    7 => '<script src="js/utils.js" defer></script>',
    8 => '<script src="js/pages.js" defer></script>',
    9 => '<script src="js/controls.js" defer></script>',
    10 => '<script src="js/notify.js" defer></script>',
    11 => '<script src="js/settings.js" defer></script>',
    12 => '<script src="js/games.js" defer></script>',
    13 => '<script src="js/omnibox.js" defer></script>',
    14 => '<script src="js/updates.js" defer></script>',
    15 => '<script src="js/eruda/create.js" defer></script>',
    16 => '<script src="js/eruda/rightClick.js" defer></script>',
    17 => '<script src="js/keyBinds.js" defer></script>',
  })
%>
<div class="chrome-tabs" style="--tab-content-margin: 9px">
  <div class="chrome-tabs-content">
    <div class="chrome-tab" data-id="-1" active>
      <div class="chrome-tab-dividers"></div>
      <div class="chrome-tab-background">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><symbol id="chrome-tab-geometry-left" viewBox="0 0 214 36"><path d="M17 0h197v36H0v-2c4.5 0 9-3.5 9-8V8c0-4.5 3.5-8 8-8z"/></symbol><symbol id="chrome-tab-geometry-right" viewBox="0 0 214 36"><use xlink:href="#chrome-tab-geometry-left"/></symbol><clipPath id="crop"><rect class="mask" width="100%" height="100%" x="0"/></clipPath></defs><svg width="52%" height="100%"><use xlink:href="#chrome-tab-geometry-left" width="214" height="36" class="chrome-tab-geometry"/></svg><g transform="scale(-1, 1)"><svg width="52%" height="100%" x="-100%" y="0"><use xlink:href="#chrome-tab-geometry-right" width="214" height="36" class="chrome-tab-geometry"/></svg></g></svg>
      </div>
      <div class="chrome-tab-content">
        <div class="chrome-tab-title">Search</div>
        <div class="chrome-tab-drag-handle"></div>
        <div class="chrome-tab-close"></div>
      </div>
    </div>
  </div>
  <div id="add-tab"><i class="fa-solid fa-plus"></i></div>
  <div class="chrome-tabs-bottom-bar"></div>
  <style>
    .chrome-tabs .chrome-tab {
      width: 258px;
    }
    .chrome-tabs .chrome-tab:nth-child(1) {
      transform: translate3d(0px, 0, 0);
     }
    .chrome-tabs .chrome-tab:nth-child(2) {
      transform: translate3d(239px, 0, 0);
    }
  </style>
</div>
<div class="chrome-tabs-bottom-bar">
  <div id="menu">
    <div id="search">
      <input id="search-input" type="text" placeholder="Search" onchange="searchBar(this.value)">
    </div>
    <div id="menu-buttons-left">
      <div id="menu-button" onclick="refreshPage()"><i class="fa-solid fa-redo"></i></div>
      <div id="menu-button" onclick="previousPage()"><i class="fa-solid fa-arrow-left"></i></div>
      <div id="menu-button" onclick="nextPage()"><i class="fa-solid fa-arrow-right"></i></div>
      <div id="menu-button" onclick="gamesPage(true)"><i class="fa-solid fa-gamepad"></i></div>
    </div>
    <div id="menu-buttons-right">
      <div id="menu-button" class="tooltip" onclick="historySidebar(true)">
        <span class="tooltiptext">View History</span>
        <i class="fa-solid fa-history"></i>
      </div>
      <div id="menu-button" class="tooltip" onclick="fullscreen()">
        <span class="tooltiptext">Full Screen</span>
        <i class="fa-solid fa-expand"></i>
      </div>
      <div id="menu-button" class="tooltip" onclick="popout()">
        <span class="tooltiptext">Open in a new window</span>
        <i class="fa-solid fa-copy"></i>
      </div>
      <div id="menu-button" onclick="settingsPage(true)"><i class="fa-solid fa-gear"></i></div>
    </div>
  </div>
</div>
<div id="home-header">
  <h1 id="title">Ruby</h1>
  <form action="submit" method="POST" id="uv-form">
    <div class="search">
      <%= Rack::Csrf.tag(env) %>
      <input id="uv-address" type="text" class="dipinput" placeholder="Privately Search the Web..." oninput="omniBox(this.value)" />
      <div id="omnibox" class="dnone">
        <ul id="omnibox-list"></ul>
      </div>
    </div>
  </form>
  <div id="mobile-buttons">
    <div id="mobile-button" onclick="settingsPage(true)"><i class="fa-solid fa-cog"></i></div>
    <div id="mobile-button" onclick="historySidebar()"><i class="fa-solid fa-history"></i></div>
    <a id="mobile-button" href="https://github.com/ruby-network/ruby" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a id="mobile-button" href="https://dsc.gg/rubynetwork" target="_blank"><i class="fa-brands fa-discord"></i></a>
  </div>
</div>
<button id="exit-iframe" class="dnone" onclick="exitIframe()"><i class="fa-solid fa-circle-xmark"></i></button>
<% showComponent("settings") %>
<% showComponent("games") %>
<% showComponent("credit") %>
<% showComponent("history") %>
<% showComponent("rightClickMenu") %>
