.dnone {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
#iframe {
    width: 100%;
    height: calc(100% - 86px);
    border: none;
    position: fixed;
    top: 86px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-color);
}
#exit-iframe {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--text-bg-color);
    border: none;
    opacity: 0.5;
    z-index: 10001;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    &:active {
        opacity: 0.5;
    }
    i {
        font-size: 30px;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
#add-tab {
    color: var(--text-color);
    width: 16px;
    height: 16px;
    font-size: 16px;
    position: absolute;
    top: 38%;
    right: 10px;
}
#add-tab:hover {
    background: var(--hover-color);
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
}
#home-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-15%);
    width: 100%;
    height: 300px;
}
#title {
    text-align: center;
    color: var(--text-color);
    font-size: 4.5rem;
}
#uv-form {
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    #uv-address {
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 40px;
        border-radius: 5px;
        outline: none;
        border: 1px solid var(--border-color);
        background: var(--text-bg-color);
        color: var(--text-color);
        padding: 0 10px;
        font-size: 18px;
        text-align: center;
        top: 25px;
    }
    #omnibox {
        width: 100%;
        background: var(--text-bg-color);
        height: 200px;
        border-radius: 0 0 5px 5px;
        padding: 20px;
        overflow-x: auto;
        margin-top: 4px;
        #seperator {
            width: 100%;
            height: 1px;
            background: var(--border-color);
            margin: 10px 0;
        }
        //force the custom scrollbar to have the same background as the rest of the omnibox 
        &::-webkit-scrollbar-track {
            background: var(--text-bg-color) !important;
        }
        li {
            list-style: none;
            padding: 5px 0;
            cursor: pointer;
            font-family: var(--font);
            color: var(--text-color);
            position: relative;
        }
    }
}
#menu {
    width: 100%;
    background: var(--text-bg-color);
    height: 40px;
    #search {
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        top: 17px;
        #search-input {
            width: 100%;
            text-align: center;
            height: 30px;
            margin-top: 4px;
            border-radius: 5px;
            border: none;
            background: var(--text-bg-color);
            filter: brightness(150%);
            color: var(--text-color);
            padding: 0 10px;
            font-size: 16px;
            &:focus {
                outline: none;
            }
        }
    }
    #menu-buttons-left {
        position: absolute;
        top: 3.2rem;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        #menu-button {
            height: 30px;
            border-radius: 50%;
            background: var(--text-bg-color);
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: var(--hover-color);
                cursor: pointer;
                opacity: 0.5;
                transition: 0.3s;
            }
        }
    }
    #menu-buttons-right {
        position: absolute;
        top: 3.2rem;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        #menu-button {
            height: 30px;
            border-radius: 50%;
            background: var(--text-bg-color);
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: var(--hover-color);
                cursor: pointer;
                opacity: 0.5;
                transition: 0.3s;
            }
        }
    }
    .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
          z-index: 4;
          .tooltiptext {
              visibility: hidden;
              width: 120px;
              background-color: black;
              color: #fff;
              text-align: center;
              border-radius: 6px;
              padding: 5px 0; 
              position: absolute;
              z-index: 1;
              top: 100%;
              left: 50%;
              margin-left: -60px;
          }
          &:hover .tooltiptext {
              visibility: visible;
          }
     }
}

#homeBar {
    width: 100%;
    position: absolute;
    top: 0;
    background: var(--text-bg-color);
    height: 60px;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    i {
        font-size: 30px;
        color: var(--text-color);
        position: absolute;
        top: 25%;
        left: 4%;
        &:hover {
            opacity: 0.5;
            transition: 0.3s;
        }
    }
}
#exit-iframe {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--text-bg-color);
    border: none;
    opacity: 0.5;
    z-index: 10001;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    &:active {
        opacity: 0.5;
    }
    i {
        font-size: 30px;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 722px) {
    #menu {
        #menu-buttons-left {
            display: none;
        }
        #menu-buttons-right {
            display: none;
        }
    }
}
#settings-container {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: calc(100vh + 65%);
    #tile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
        width: 900px;
        position: relative;
        margin-top: 80px;
        margin-bottom: 10px;
    } 
    #tile {
        background: var(--text-bg-color);
        width: 200px;
        height: 200px;
        border-radius: 15%;
        h2 {
            color: var(--text-color);
            text-align: center;
            margin-top: 50px;
        }
        input {
            width: 90%;
            height: 40px;
            margin-top: 20px;
            margin-left: 5%;
            text-align: center;
            color: var(--text-color);
            font-size: 20px;
            border-radius: 5px;
            border: none;
            background: var(--text-bg-color);
            filter: brightness(150%);
        }
        select {
            width: 90%;
            height: 40px;
            margin-top: 30px;
            margin-left: 5%;
            text-align: center;
            color: var(--text-color);
            font-size: 20px;
            border-radius: 5px;
            border: none;
            background: var(--text-bg-color);
            filter: brightness(150%);
            cursor: pointer;
        }
        button {
            width: 50%;
            height: 35px;
            border-radius: 5px;
            border: none;
            background: var(--text-bg-color);
            text-align: center;
            font-size: 20px;
            color: var(--text-color);
            margin-top: 10px;
            margin-left: 25%;
            filter: brightness(150%);
            &:hover {
                cursor: pointer; 
                border: 1px solid var(--border-color);
            }
            &:active {
                opacity: 0.5;
            }
        }
    }
}
@media (max-width: 867px) {
    #settings-container {
        height: calc(100vh + 70%);
        #tile-container {
            width: 80%;
        }
    }
}
@media (max-width: 807px) {
    #settings-container {
        height: calc(100vh + 140%);
    }
}
@media (max-width: 532px) {
    #settings-container {
        height: 460%;
    }
}

#history {
    height: 100%;
    transition: 0.3s ease-in-out;
    background: var(--bg-color);
    color: var(--text-color);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 200px;
    border-left: 1px solid var(--border-color);
    overflow-y: auto;
    h2 {
        margin-top: 10px;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: var(--text-color);
    }
    #history-content {
        position: relative;
        top: 20px;
        width: 100%;
        padding: 0 10px;
        #history-item {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: left;
            flex-direction: row;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--border-color);
            #history-link {
                display: flex;
                align-items: flex-start;
                justify-content: left;
                flex-direction: column;
                width: 100%;
                img {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                p {
                    margin: 0;
                    margin-left: 30px;
                    font-size: 15px;
                    margin-top: -20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 60%;
                }
                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                    transition: 0.3s;
                }
            }
        }
    }
    #exit-history {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        opacity: 0.5;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
    #history-delete {
        position: absolute;
        right: 5px;
        width: 30px;
        height: 30px;
        &:hover {
            cursor: pointer;
            opacity: 0.5;
            transition: 0.3s;
        }
    }
}

#rightClickMenu {
    display: none;
    visibility: hidden;
    background: var(--text-bg-color);
    //height: 200px;
    width: 150px;
    z-index: 9999;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: left;
    justify-content: top;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    #rcmb-back {
        margin-top: 5px;
    }
    .rcmb {
        width: 100%;
        height: 30px;
        border: none;
        background: var(--text-bg-color);
        color: var(--text-color);
        text-align: left;
        padding-left: 5px;
        outline: none;
        &:hover {
            cursor: pointer;
            background: var(--text-color);
            color: var(--text-bg-color);
            transition: 0.3s;
        }
        &:active {
            opacity: 0.5;
        }
    }
    .rcmb-separator {
        width: 100%;
        border-top: 1px solid var(--border-color);
        margin-top: 2px;
        margin-bottom: 10px;
    }
    #rcmb-inspect {
        margin-bottom: 5px;
        #rcmb-inspect-info {
            font-size: 10px;
            opacity: 0.5;
            position: relative;
            bottom: 12px;
            left: 68px;
            width: 0;
        }
    }
}

#games-container {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    //bottom: 0;
    width: 100%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    #tile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
        width: 80%;
        position: relative;
        margin-top: 80px;
        margin-bottom: 10px;
    } 
    #game-iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: var(--bg-color);
        height: 100vh;
        z-index: 10000;
        border: none;
    }
    #exit-game {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--text-bg-color);
        border: none;
        opacity: 0.5;
        z-index: 10001;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
        &:active {
            opacity: 0.5;
        }
        i {
            font-size: 30px;
            color: var(--text-color);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    #tile {
        background: var(--text-bg-color);
        width: 200px;
        height: 200px;
        border-radius: 7%;
        &:hover {
            cursor: pointer;
            border: 2px solid var(--border-color);
        }
        &:active {
            opacity: 0.5;
        }
        h2 {
            color: var(--text-color);
            text-align: center;
            margin-top: -1px;
            font-size: 20px;
        }
        #seperator {
            background: var(--text-color);
            width: 100%;
            height: 2px;
            margin-top: -2px;
        }
        img {
            width: 100%;
            height: 85%;
            object-fit: cover;
            border-radius: 7% 7% 0 0;
            margin: 0;
        }
        button {
            width: 50%;
            height: 35px;
            border-radius: 5px;
            border: none;
            background: var(--text-bg-color);
            text-align: center;
            font-size: 20px;
            color: var(--text-color);
            margin-top: 10px;
            margin-left: 25%;
            filter: brightness(150%);
            &:hover {
                cursor: pointer; 
                border: 1px solid var(--border-color);
            }
            &:active {
                opacity: 0.5;
            }
        }
    }
}
@media (max-width: 810px) {
    #games-container {
        bottom: unset;
        #tile-container {
            width: 80%;
        }
    }
}
.swal2-container {
    z-index: 100000;
}
#credit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
    color: var(--text-color);
    p {
        margin: 0;
    }
    a {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
noscript {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    h1 {
        color: var(--text-color);
        text-align: center;
        margin-top: 30vh;
    }
}
#mobile-buttons {
    width: 40%;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5%;
    border: none;
    padding: 10px;
    background: var(--text-bg-color);
    text-align: center;
    font-size: 22px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 22px;
    #mobile-button {
        margin-top: 5px;
    }
    a {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
            color: var(--border-color);
        }
    }
    i {
        color: var(--text-color);
        &:hover {
            cursor: pointer;
            color: var(--border-color);
        }
    }
}
@media (min-width: 722px) {
    #mobile-buttons {
        display: none;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}
@media (max-width: 722px) {
    #credit {
        display: none;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}
