<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield_content :title %></title>
    <link rel="stylesheet" href="css/globals.css">
    <%= yield_content :head %>
  </head>
 <body>
    <%= yield %>
  </body>
</html>
