<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield_content :title %></title>
    <link rel="stylesheet" href="css/globals.css">
    <script src="/uv/uv.bundle.js" defer></script>
    <script src="/uv/uv.config.js" defer></script>
    <script src="/uv/uv-sw.js" defer></script>
    <script src="js/search.js" defer></script>
    <script src="js/index.js" defer></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <%= yield_content :head %>
  </head>
 <body>
    <%= yield %>
  </body>
</html>
