<div id="rightClickMenu">
  <button class="rcmb" id="rcmb-back" type="button" name="back">Back</button>
  <button class="rcmb" id="rcmb-forward" type="button" name="forward">Forward</button>
  <button class="rcmb" id="rcmb-reload" type="button" name="reload">Reload</button>
  <div class="rcmb-separator"></div>
  <button class="rcmb" id="rcmb-inspect" type="button" name="inspect">
    Inspect
    <div id="rcmb-inspect-info">CTRL+SHIFT+I</div>
  </button>
</div>
