<div id="settings-container" class="dnone">
  <div id="homeBar" onclick="home(settingsPage(false))">
    <i class="fas fa-home"></i>
    <h1> Settings </h1>
  </div>
  <div id="tile-container">
    <div id="tile">
      <h2> Title Setting </h2>
      <input type="text" id="titleInput" name="title" class="input" placeholder="Title" onchange="setTitle(this.value)"></input>
      <button id="titleButton" class="button">Set</button>
    </div>
    <div id="tile">
      <h2> Favicon Setting </h2>
      <input type="text" id="faviconInput" name="favicon" class="input" placeholder="Favicon URL" onchange="favicon(this.value)"></input>
      <button id="faviconButton" class="button">Set</button>
    </div>
    <!-- div id="tile">
      <h2> Bare Server </h2>
      <input type="text" id="bareInput" name="bare" class="input" placeholder="Bare Server URL" onchange="bare(this.value)"></input>
      <button id="bareButton" class="button">Set</button>
  </div -->
    <div id="tile" class="wisp">
      <h2> Wisp Server </h2>
      <input type="text" id="wispInput" name="wisp" class="input" placeholder="Wisp Server URL" onchange="changeWisp(this.value)"></input>
      <button id="wispButton" class="button">Set</button>
    </div>
    <div id="tile" class="bare dnone">
      <h2> Bare Server </h2>
      <input type="text" id="bareInput" name="bare" class="input" placeholder="Bare Server URL" onchange="bareChange(this.value)"></input>
      <button id="bareButton" class="button">Set</button>
    </div>
    <div id="tile">
      <h2> Search Engine </h2>
      <select id="searchInput" class="select" onchange="searchSettings(this.value)">
          <option value="https://www.google.com/search?q=%s">Google</option>
          <option value="https://duckduckgo.com/?q=%s">DuckDuckGo</option>
          <option value="https://www.bing.com/search?q=%s">Bing</option>
          <option value="https://search.yahoo.com/search?p=%s">Yahoo</option>
          <option value="https://brave.com/search?q=%s">Brave</option>
          <option value="https://qwant.com/?q=%s">Qwant</option>
      </select>
    </div>
    <div id="tile">
      <h2> Proxy </h2>
      <select id="proxySelect" class="select" onchange="proxyChange(this.value)">
        <option value="uv"> Ultraviolet </option>
        <!-- option value="dynamic"> Dynamic (Beta) </option -->
        <option value="rammerhead"> Rammerhead </option>
      </select>
    </div>
    <div id="tile">
      <h2> Transport </h2>
      <select id="transportSelect" class="select" onchange="transportChange(this.value)">
        <option value="libcurl"> Libcurl </option>
        <option value="epoxy"> Epoxy </option>
        <option value="bare"> Bare </option>
        <!-- option value="soon"> More Soon </option -->
      </select>
    </div>
    <div id="tile">
      <h2> Theme </h2>
      <select id="themeSelect" class="select" onchange="theme(this.value)">
          <option value="default">Default</option>
          <option value="pink">Pink</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="dark">Dark</option>
          <option value="purple">Purple</option>
          <option value="violet">Violet</option>
          <option value="red">Red</option>
          <option value="orange">Orange</option>
          <option value="midnight">Midnight</option>
          <option value="space">Space</option>
          <option value="marsh">Marsh</option>
          <option value="basic">Basic</option>
          <option value="pastel">Pastel</option>
          <option value="teal">Teal</option>
          <option value="pinkish-purple">Pinkish Purple</option>
          <option value="pink-and-gray">Pink And Gray</option>
          <option value="nord">Nord</option>
          <option value="rose-pine">Rose Pine</option>
          <option value="rose-pine-moon">Rose Pine Moon</option>
          <option value="rose-pine-dawn">Rose Pine Dawn</option>
          <option value="catppuccin-mocha">Catppuccin Mocha</option>
          <option value="catppuccin-macchiato">Catppuccin Macchiato</option>
          <option value="catppuccin-latte">Catppuccin Latte</option>
          <option value="catppuccin-frappe">Catppuccin Frappe</option>
          <option value="scoria">Scoria</option>
          <option value="winter">Winter</option>
          <option value="earth">Earth</option>
          <option value="connected">Connected</option>
          <option value="terminal">Terminal</option>
          <!-- option value="halloween">Halloween</option -->
          <option value="rainbow">Rainbow</option>
      </select>
    </div>
    <div id="tile">
      <h2> Full Screen Behavior </h2>
      <select id="fullscreenSelect" class="select" onchange="fullScreenChange(this.value)">
          <option value="page">Remove Nav Bar</option>
          <option value="full">Full Screen</option>
      </select>
    </div>
    <div id="tile">
      <h2> About Blank/Blob Cloaking </h2>
      <button id="blankButton" class="button" onclick="promptCloaking()">Toggle</button>
    </div>
    <div id="tile">
      <h2> Update Service Workers </h2>
      <button id="swUpdateButton" class="button" onclick="uninstallAllSW()">Update</button>
    </div>
    <div id="tile">
      <h2> Reset Settings </h2>
      <button id="resetButton" class="button" onclick="reset()">Reset</button>
    </div>
    <div id="tile">
      <h2> Import/Export Settings </h2>
      <button id="imExButton" class="button" onclick="importExportSettings()">Click Here</button>
    </div>
    <div id="tile">
      <h2> Set a Password </h2>
      <button id="passwordButton" class="button" onclick="password()">Set</button>
      <button id="passwordLockButton" class="button" onclick="passwordLock()">Lock</button>
    </div>
  </div>
</div>
